<!DOCTYPE html>
<html>
<head>
	<title>Shift</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, height=device-height" />
	
	<link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.3.1.min.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	
	<!-- Cordova and associated plugins -->
	<script src="cordova-2.7.0.js"></script>
	<script src="js/plugin/barcodescanner.js"></script>
	<script src="js/plugin/ocr.js"></script>
	<!-- Libraries and associated plugins -->
	<script src="js/lib/jquery-1.8.2.min.js"></script>
	<script src="js/lib/jquery.mobile-1.3.1.min.js"></script>
	<script src="js/lib/jquery.queryvars.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone.localStorage-min.js"></script>
	<!-- Backbone models -->
	<script src="js/model/Bookmark.js"></script>
	<script src="js/model/App.js"></script>
	<!-- Backbone views -->
	<script src="js/view/BookmarkView.js"></script>
	<script src="js/view/BookmarksPageView.js"></script>
	<script src="js/view/BookmarkEditView.js"></script>
	<script src="js/view/AppView.js"></script>
	<script src="js/view/AppPageView.js"></script>
	<script src="js/view/AppEditView.js"></script>
	<script src="js/view/ScanPageView.js"></script>
	<script src="js/view/ScanResultsView.js"></script>
	<script src="js/view/OcrOptionsView.js"></script>
	<script src="js/view/OcrPageView.js"></script>
	<!-- Main script -->
	<script src="js/index.js"></script>
</head>

<body>
	<!-- Home page -->
	<div data-role="page" id="home">
	
		<!-- Header -->
		<div data-role="header" data-id="head" data-theme="b" data-position="fixed">
			<a href="#home" data-icon="home">Home</a>
			<h1>Shift</h1>
		</div>
		
		<!-- Content -->
		<div data-role="content" id="home">
			<div id="home-icon-grid" class="ui-grid-a">
				<div class="ui-block-a pad-bottom">
					<a href="#ocr-options">
						<img src="img/camera.png"><br>
						Text Recognition
					</a>
				</div>
				<div class="ui-block-b pad-bottom">
					<a href="#scan">
						<img src="img/barcode-icon.png"><br>
						Barcode Scanning
					</a>
				</div>
				<div class="ui-block-a">
					<a href="#bookmarks">
						<img src="img/bookmark.png"><br>
						Bookmarks
					</a>
				</div>
				<div class="ui-block-b">
					<a href="#app">
						<img src="img/briefcase.png"><br>
						Applications
					</a>
				</div>
			</div>
		</div>
	</div>
		
		
	<!-- Bookmarks page -->
	<div data-role="page" id="bookmarks">
	
		<!-- Bookmarks header -->
		<div data-role="header" data-id="head" data-theme="b" data-position="fixed">
			<a href="#home" data-icon="home">Home</a>
			<h1>Bookmarks</h1>
			<a href="#bm-edit" id="bm-new-btn" data-rel="dialog" data-icon="plus">New</a>
		</div>
		
		<!-- Bookmarks content -->
		<div data-role="content" data-theme="c">
			<ul id="bm-list" data-role="listview" data-split-icon="gear" data-split-theme="b"
				data-theme="c" data-filter="true" data-filter-placeholder="Search Bookmarks..."
				data-inset="true">
			</ul>
		</div>
		
		<!-- Bookmark options popup -->
		<div data-role="popup" id="bm-options" data-theme="b">
			<ul data-role="listview" data-inset="true" data-theme="b" data-overlay-theme="a">
				<li data-role="divider" data-theme="e">Choose an action</li>
				<li><a href="#bm-edit" id="bm-edit-btn" data-rel="dialog">Edit</a>
				<li><a href="#" id="bm-remove-btn" data-rel="back">Delete</a></li>
				<li><a href="#unimpl" id="bm-share-btn" data-rel="popup">Share</a></li>
			</ul>
		</div>
		
		<div data-role="popup" id="unimpl">Feature coming soon</div>
	</div>
	
	
	<!-- Bookmarks Edit page -->
	<div data-role="page" id="bm-edit">
	
		<!-- Bookmarks Edit header -->
		<div data-role="header">
			<h1>Bookmark Editor</h1>
		</div>
		
		<!-- Bookmarks Edit content -->
		<div data-role="content">
			<div data-role="fieldcontain">
				<label for="bm-app" class="ui-input-text">App:</label>
				<input type="text" id="bm-app" name="bm-app" class="ui-input-text" />
			</div>
			<div data-role="fieldcontain">
				<label for="bm-patient" class="ui-input-text">Patient:</label>
				<input type="text" id="bm-patient" name="bm-patient" class="ui-input-text" />
			</div>
			<div data-role="fieldcontain">
				<label for="bm-mrn" class="ui-input-text">MRN:</label>
				<input type="text" id="bm-mrn" name="bm-mrn" class="ui-input-text" />
			</div>
			<div data-role="fieldcontain">
				<label for="bm-acc" class="ui-input-text">ACC:</label>
				<input type="text" id="bm-acc" name="bm-acc" class="ui-input-text" />
			</div>
			<div class="center-text">
				<a href="#" id="bm-submit" data-role="button" data-icon="check" data-rel="back"
					data-inline="true" data-theme="b">Submit</a>
				<a href="#" id="bm-cancel" data-role="button" data-icon="delete" data-rel="back"
					data-inline="true">Cancel</a>
			</div>
		</div>
	</div>
	
	
	<!-- Applications page -->
	<div data-role="page" id="app">
	
		<!-- Applications header -->
		<div data-role="header" data-id="head" data-theme="b" data-position="fixed">
			<a href="#home" data-icon="home">Home</a>
			<h1>Applications</h1>
		</div>
		
		<!-- Applications content -->
		<div data-role="content">
			<ul data-role="listview" id="app-list" data-inset="true" data-filter="true">
				<li data-role="list-divider">Text Recognition Applications</li>
				<li><a href="#unimpl" data-rel="popup">PubMed</a>
				<li data-role="list-divider">Barcode Applications</li>
				<li><a href="#unimpl" data-rel="popup">Google</a>
			</ul>
		</div>
		
		<div data-role="popup" id="unimpl">Feature coming soon</div>
	</div>

	<!-- Barcode scanning page -->
	<div data-role="page" id="scan">
	
		<!-- Header -->
		<div data-role="header" data-id="head" data-theme="b" data-position="fixed">
			<a href="#home" data-icon="home">Home</a>
			<h1>Shift</h1>
		</div>
		
		<!-- Content -->
		<div data-role="content">
			<div id="scan-intro" class="ui-grid-a portrait-breakpoint">
				<div class="ui-block-a">
					<h2>Barcode Scanner</h2>
					<h3>Use your camera to scan a barcode and get its information.</h3>
					<p>Both barcodes and QR codes can be read.</p>
					<button id="scan-begin-btn" data-theme="e">Begin</button>
				</div>
				<div id="scan-img-wrap" class="ui-block-b">
					<img src="img/qrcode.png">
					<img src="img/barcode.png">
				</div>
			</div>
		</div>
		
	</div>
	
	
	<!-- Scan Results page -->
	<div data-role="page" id="scan-results">
		
		<!-- Scan Results header -->
		<div data-role="header" data-id="head" data-theme="b" data-position="fixed">
			<a href="#home" data-icon="home">Home</a>
			<h1>Shift</h1>
		</div>
		
		<!-- Scan Results content -->
		<div data-role="content">
			<div id="scan-form">
				<div data-role="fieldcontain">
					<label for="scan-app" class="ui-input-text">App:</label>
					<select id="scan-app" name="scan-app" class="ui-input-text"></select>
				</div>
				<div data-role="fieldcontain">
					<label for="scan-patient" class="ui-input-text">Patient:</label>
					<input type="text" id="scan-patient" name="scan-patient"
						class="ui-input-text" />
				</div>
				<div data-role="fieldcontain">
					<label for="scan-mrn" class="ui-input-text">MRN:</label>
					<input type="text" id="scan-mrn" name="scan-mrn" class="ui-input-text" />
				</div>
				<div data-role="fieldcontain">
					<label for="scan-acc" class="ui-input-text">ACC:</label>
					<input type="text" id="scan-acc" name="scan-acc" class="ui-input-text" />
				</div>
				<div class="center-text">
					<a href="#unimpl" data-rel="popup" data-role="button" data-theme="b" data-inline="true">Launch App</a>
					<a href="#" id="scan-bookmark-btn" data-role="button" data-theme="b"
						data-inline="true">Bookmark</a>
				</div>
			</div>
		</div>
			
		<div data-role="popup" id="unimpl">Feature coming soon</div>
	</div>
	

	<!-- OCR Options page -->
	<div data-role="page" id="ocr-options">
	
		<!-- Header -->
		<div data-role="header" data-id="head" data-theme="b" data-position="fixed">
			<a href="#home" data-icon="home">Home</a>
			<h1>Shift</h1>
		</div>
		
		<!-- Content -->
		<div data-role="content">
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<h2>Text Recognition</h2>
					<h3>Use your camera to take a picture, then pick out the text.</h3>
					<p>For best results, take the picture in portrait mode.</p>
					<button id="ocr-camera-btn" data-theme="e">Begin</button>
				</div>
				<div class="ui-block-b" id="ocropt-phone-wrap">
					<img src="img/phone-small.png">
				</div>
				
				<div class="ui-block-a"></div>
			</div>
			
			<div data-role="fieldcontain">
				<label for="ocr-app" class="ui-input-text">Application:</label>
				<select id="ocr-app" name="ocr-app" class="ui-input-text">
					<option>PubMed Article</option>
					<option>None</option>
				</select>
			</div>
		</div>
		
	</div>

	<!-- OCR page -->
	<div data-role="page" id="ocr">
		<div data-role="content" id="ocr-content">
		
			<!-- Text input & directions -->
			<div id="ocr-text-wrap"><div>
				<table style="width:100%">
					<tr>
						<td class="ocr-text-btn">
							<a href="#" data-rel="back" data-role="button" data-icon="back"
								data-inline="true" data-iconpos="notext" data-theme="b"></a></td>
						<td id="ocr-text-cell">
							<input type="text" id="ocr-text" data-clear-btn="true"/></td>
				   		<td class="ocr-text-btn">
				   			<button id="ocr-text-accept" data-inline="true" data-icon="check" 
				   					data-iconpos="notext" data-theme="b"></button></td>
					</tr>
				</table>
				<p id="ocr-draw-directions">Drag your finger to select text.</p>
			</div></div>
			
			<!-- Canvas -->
			<div id="ocr-draw-wrap"><div>
				<div id="ocr-canvas-container">
					<canvas id="draw-canvas"></canvas>
					<canvas id="photo-canvas"></canvas>
				</div>
			</div></div>
		</div>
	</div>
	
	
	<!-- Templates -->
	<script id="bm-tpl" type="x-underscore-template">
		<a href="#unimpl" data-rel="popup" class="bm-list-btn"><%= app %></a>
		<a href="#bm-options" data-rel="popup" class="bm-options-btn">
	</script>
	<script id="app-tpl" type="x-underscore-template">
		<a href="#unimpl" data-rel="popup" class="app-list-btn"><%= name %></a>
		<a href="#app-options" data-rel="popup" class="app-options-btn">
	</script>
</body>
</html>
