body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}


/************************************************************
 * Home page
 ************************************************************/
 
/* Format icon grid */
#home-icon-grid {
	font-size: small;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.pad-bottom {
	padding-bottom: 30px;
}
#home-icon-grid > div > a {
	text-decoration: none;
	color: #333;
}

/* Place at bottom of page */
#home-action-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}


/************************************************************
 * Bookmarks page
 ************************************************************/
 
#bm-options > ul {
	min-width: 210px;
}


/************************************************************
 * Bookmarks Edit page
 ************************************************************/

/* Format buttons */
.bm-edit-grid .ui-block-a, .bm-edit-grid .ui-block-b {
	padding-left: 10px;
	padding-right: 10px;
}
.bm-edit-grid > div > div {
	width: 100%;
}


/************************************************************
 * Scan page
 ************************************************************/

/* Format images */
#scan-img-wrap > img {
	vertical-align: middle;
	max-width: 48%;
	margin: 0;
	padding: 0;
}

@media all and (orientation: portrait) {
	.portrait-breakpoint .ui-block-a,
	.portrait-breakpoint .ui-block-b {
		width: 100%;
		float: none;
	}
}

.center-text {
	text-align: center;
}

/************************************************************
 * OCR Options page
 ************************************************************/
 
 /* Center the phone image, and bound its size */
#ocropt-phone-wrap {
	text-align: center;
}
#ocropt-phone-wrap > img {
	max-width: 100%;
	vertical-align: middle;
}


/************************************************************
 * OCR page
 ************************************************************/
 
 /* Page formatted according to
    stackoverflow.com/questions/6158975/css-100-height-layout */

#ocr {
	height: 100%;
}

#ocr-content {
    display: table; 
    width: 100%;
    height: 100%; 
    padding: 0;
}

#ocr-content > div {
    display: table-row;   
    width: 100%;
}

#ocr-content > div > div {
    display: table-cell;   
    width: 100%;
}

#ocr-draw-wrap {
	/* Improves performance of iScroll */
	-webkit-transform: translate3d(0,0,0);
}

#ocr-draw-wrap > div {
    height: 100%;
}

#ocr-text-cell {
	padding-left: 1em;
}

.ocr-text-btn {
	width: 2em;
}

#ocr-controls {
	background-color: #5A5A5A;
	color: white;
	font-size: 14px;
	font-weight: 400;
	text-shadow: black 0px 1px 1px;
	/*
	text-align: center;
	margin: 0;
	padding-top: 1px;
	padding-bottom: 2px;
	*/
	width: 100%;
}

#ocr-controls .col1 {
	width: 1%;
	white-space: nowrap;
}

#ocr-mode-toggle-wrap {
	text-align: right;
	margin-top: 2px;
	margin-bottom: 0;
}

#ocr-mode-toggle-label {
	line-height: 2;
	font-size: 14px;
	width: auto;
	display: inline;
}

#ocr-draw-wrap {
	background-color: black;
	height: 100%;
    width: 100%;
    max-width: 100%;
}

#ocr-canvas-container {
	position: relative;
	height: 100%;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	/* Workaround for: code.google.com/p/android/issues/detail?id=35474 */
	z-index: 50;
}

/* These canvases are layered on top of each other */
#draw-canvas, #photo-canvas {
	position: absolute;
	left: 0;
	top: 0;
}

/* Put draw-canvas above photo-canvas */
#draw-canvas  { z-index: 1; }
#photo-canvas { z-index: 0; }
 